<section id="panel1" class="mb-16 active">
  <div class="content" data-section-content>
    <%= f.fields_for :primary_member do |builder| %>
      <%= render 'renewals/form/member_fields', {f: builder, required: true} %>
    <% end -%>
  </div>
</section>