<section id="panel2" class="mb-16">
  <h3 class="text-lg font-bold"data-section-title><a href="#panel2">Your Address</a></h3>
  <div class="content" data-section-content>
    <%= render 'renewals/form/address_fields', f: f %>
  </div>
</section>