<section class="mb-16" id="panel6" >
  <h3 class="text-lg font-bold" id="comments-tab" data-section-title><a href="#panel6">Comments</a></h3>
  <div class="content" data-section-content>
    <%= f.text_area :comment, :placeholder => "Additional Details", :rows => 10 %>
  </div>
</section>