<section class="mb-16" id="panel5" >
  <div class="content" data-section-content>
    <%= f.text_area :emergency_contact_details, :placeholder => "Name & Telephone number(s)", :rows => 10 %>
  </div>
</section>