<section class="mb-16" id="panel5" >
  <h3 class="text-lg font-bold" id="emergency-tab" data-section-title><a href="#panel5">Emergency Contact</a></h3>
  <div class="content" data-section-content>
    <%= f.text_area :emergency_contact_details, :placeholder => "Name & Telephone number(s)", :rows => 10 %>
  </div>
</section>