<section  class="mb-16" id="panel3" >
  <h1 class="text-2xl"><%= renewal_step_title %></h1>
  <div class="content" data-section-content>
    <p class="small"><i><%= t('.family-members-hint') %></i></p>
    <%= f.fields_for :secondary_members do |builder| %>
      <%= render 'renewals/form/member_fields', {f: builder, required: false} %>
    <% end -%>
  </div>
</section>