<div data-controller="duplicate-fields">
    <section class="p-4">
        <h1 class="text-2xl"><%= renewal_step_title %></h1>
        <div class="content" data-section-content>
            <div id="member-fields" data-target="duplicate-fields.container">

                <% index = 0 %>
                <%= f.fields_for(:secondary_members) do |builder| %>
                <div class="duplicate-field member grid grid-cols-1 gap-4 md:grid-cols-2 pt-9 bg-white even:bg-gray-100 border-t-2 border-black" id="new-member" data-target="duplicate-fields.source">
                    <%= render 'renewals/form/member_fields', f: builder, index: index += 1, required: false %>
                </div>
                <% end -%>
            </div>

        </div>


    </section>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 bg-gray-50 p-9" id="panel4">
        <div>
            <a 
                href="#" 
                id="add-member-field" 
                class="inline-block my-4 bg-sky-900 px-8 py-2 rounded-md text-white"
                data-action="click->duplicate-fields#duplicateFields"
            >
                Add a Family Member
            </a>
        </div>
        <div>
            <%= f.submit @renewal.current_step == :declaration ? "Pay Fees" : "Next", class: "my-4 bg-sky-900 px-8 py-2 rounded-md text-white" %>
        </div>
    </div>
</div>
