<p>Hi <%= @renewal.primary_member.first_name %>,</p>

<p>Thanks for renewing your Sheffield Viking Sailing Club membership for <%= Date.today.year %></p>

<p>You can view your membership details <%= link_to 'here', renewal_url(id: @renewal.reference) %> at any time.</p>

<p>If you have any questions about membership, you can contact <%= link_to "Mick", "mailto:membership@sheffieldviking.org.uk" %></p>
<p>Thanks,</p>

<p>
  The Management Committee,<br>
  Sheffield Viking SC
</p>