<p>Hi <%= @renewal.primary_member.first_name %>,</p>

<p>Thanks for starting renewal of your Sheffield Viking Sailing Club membership for <%= Date.today.year %></p>

<p>You can edit your membership details <%= link_to 'here', edit_renewal_url(id: @renewal.reference) %> until payment has been made.</p>

<p>If you have any questions about membership, you can contact <%= link_to "Nick", "mailto:membership@sheffieldviking.org.uk" %></p>
<p>Thanks,</p>

<p>
  The Management Committee,<br>
  Sheffield Viking SC
</p>