<div class="row">
	<div class="large-12 columns">
		<p><%= s('duty comment') %></p>
	</div>

	<div class="large-12 columns">
		<a href="#" id="reset-button" class="small button">Reset</a>
		<p>
			Green: Please assign this duty to me/us.<br>
			Red: No thanks, I can't make this week.<br>
			White: No preference.
		</p>
		<p>
			Click or tap the duty to cycle between yes/no/no preference.
		</p>
		<%= hidden_field_tag 'renewal[excluded_dates]' %>
		<%= hidden_field_tag 'renewal[preferred_dates]' %>
	</div>
</div>

<div class="row">
	<div class="month-calendar" id='april'></div>
	<div class="month-calendar" id='may'></div>
	<div class="month-calendar" id='june'></div>
</div>
<div class="row">
	<div class="month-calendar" id='july'></div>
	<div class="month-calendar" id='august'></div>
	<div class="month-calendar" id='september'></div>
</div>
<div class="row">
	<div class="month-calendar" id='october'></div>
</div>
