<fieldset><legend>Select Membership</legend>
	<div class="row">
		<div class="large-3 columns">
			<ul class="pricing-table" id="family-membership">
			  <li class="title">Full/Family</li>
			  <li class="price">&pound;140</li>
			  <li class="description">Includes partner and children under 18</li>
			  <li class="bullet-item">Full use of facilities and club boats</li>
			  <li class="bullet-item">Free safety boat training</li>
			  <li class="cta-button"><a class="button membership-select" href="#">Select</a></li>
			</ul>
		</div>
		<div class="large-3 columns">
			<ul class="pricing-table" id="cadet-membership" >
			  <li class="title">Cadet</li>
			  <li class="price">&pound;58</li>
			  <li class="description">18 years and above in full-time education</li>
			  <li class="bullet-item">Full use of facilities and club boats</li>
			  <li class="bullet-item">Free safety boat training</li>
			  <li class="cta-button"><a class="button membership-select" href="#">Select</a></li>
			</ul>
		</div>
		<div class="large-3 columns">
			<ul class="pricing-table" id="retained-membership">
			  <li class="title">Retained</li>
			  <li class="price">&pound;26</li>
			  <li class="description">Includes partner and children under 18</li>
			  <li class="bullet-item">Retain link with the club while away or unable to sail</li>
			  <li class="bullet-item">&nbsp;</li>
			  <li class="cta-button"><a class="button membership-select" href="#">Select</a></li>
			</ul>
		</div>
		<div class="large-3 columns">
			<ul class="pricing-table" id="honorary-membership">
			  <li class="title">Honorary</li>
			  <li class="price">&pound;0</li>
			  <li class="description">Invitation only!<br/>&nbsp;</li>
			  <li class="bullet-item">Full use of facilities and club boats</li>
			  <li class="bullet-item">Free safety boat training</li>
			  <li class="cta-button"><a class="button membership-select" href="#">Select</a></li>
			</ul>
		</div>
	</div>
</fieldset>
