<section class="mb-16" id="panel7" >
  <h3 class="text-lg font-bold" id="comments-tab" data-section-title><a href="#panel7">100 Club Tickets</a></h3>
  <div class="content" data-section-content>
    <%= f.label :one_hundred_club_tickets, "100 Club tickets (£25 per ticket, 3 draws in the season)" %>
    <%= f.number_field :one_hundred_club_tickets, :placeholder => "100 Club Ticket count" %>
    <p>100 Club is a lottery run by SVSC. 50% goes to the cash prize fund, 50% to funding safety boat replacement</p>
  </div>
</section>