.month-calendar {
  display: block;
  float: left;
  width: 30%;
  margin-right: 5%;
}

div.fc-day-grid-container.fc-scroller {
  height: auto !important;
}

.month-calendar:last-of-type{
  margin-right: 0;
}

.bad:not(.fc-disabled):not(.fc-other-month) {
  background-color: red;
}

.good:not(.fc-disabled):not(.fc-other-month) {
  background-color: green;
}

.fc-disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* for IE */
  /* opacity with small font can sometimes look too faded
  	   might want to set the 'color' property instead
  	   making day-numbers bold also fixes the problem */
}
