// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

iframe#stripe-payments {
  width: 100%;
  height: 100%;
  border: none;
}