// Place all the styles related to the renewals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row#renewal-details, .row#renewal-button {
	visibility: visible;

	&.off {
		visibility: hidden;
	}
}

section.family.disabled {
	p:hover {
		background-color: #EFEFEF !important;
	}
	a {
		color: #aaa !important;
		cursor: default;
	}
}

.pricing-table.selected {
	.title {
		background-color: #99CC66;
	}
	.price {
		background-color: lighten(#99CC66, 20%);
	}
	.cta-button {
		background-color: lighten(#99CC66, 30%);
	}
}

.editable_text {
	color: red;
}

[data-required=true] {
	label {
		color: red;
		&:after {
			content: "*"
		}
	}
}
