// Place all the styles related to the renewals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


section.family.disabled {
	p:hover {
		background-color: #EFEFEF !important;
	}
	a {
		color: #aaa !important;
		cursor: default;
	}
}

.pricing-table.selected {
	.title {
		background-color: #99CC66;
	}
	.price {
		background-color: lighten(#99CC66, 20%);
	}
	.cta-button {
		background-color: lighten(#99CC66, 30%);
	}
}
